name: Ruff
on: [push, pull_request]

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Ruff
        uses: astral-sh/ruff-action@v3
        with:
          # Optional: specify a specific Ruff version to install (default: "latest")
          version: "0.4.0"
          # Optional: specify arguments to pass to the ruff command (default: "check")
          args: "--output-format=github ."
          # Optional: specify the source directory (default: ".")
          src: "."